extends ../layout

block content
    h3 Courses
    a(href = '/courses/add') Add New Course
    table
        thead
            tr
                th Course Title
                th Instructor
                th Department
                th
        tbody
            each course in courses
                tr
                    td= course.name
                    td= course.instructor_name
                    td= course.department
                    td
                        a(href=`/courses/profile/${course.id}`) View Course